.container {
  display: flex;
  gap: 20px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.form {
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.input {
  padding: 20px;
  background-color: transparent;
  border: 2px solid #bbb;
  color: #bbb;
  border-radius: 5px;
  font-size: 20px;
  font-weight: bold;
}

.button {
  width: 100%;
  padding: 20px;
  cursor: pointer;
  background-color: #26956e;
  color: #fff;
  border: none;
  border-radius: 5px;
}

.buttonGoogle {
  width: 300px;
  padding: 20px;
  cursor: pointer;
  background-color: #1c94de;
  color: #fff;
  border: none;
  border-radius: 5px;
}
